* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body {
  background-color: #ffeee4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

footer {
  background-color: #a64141;
  bottom: 0;
  width: 100%;
  height: 2.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FADCD5;
  padding: 20px;
}

#footer h3 {
  font-family: "Red Moon Rising", cursive;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



header {
  background-color: #a64141;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
