.app-wrapper {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
